body {
    background: linear-gradient(to bottom, rgb(21,61,119) 30%, transparent 0%, transparent 100%);
}
.bg-gray{
    background-color: rgb(233,236,239);
}
.bg-cyan{
    background-color: rgb(193,226,252)
}
.table-style{
    overflow-y: scroll;height: 500px;
}